<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
       "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>
		<!-- Test connection -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/reqman</property>

		<property name="connection.username">postgres</property>
		<property name="connection.password">admin123</property>
		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<!-- <property name="hibernate.connection.datasource">java:comp/env/jdbc/profileDB</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.default_schema">reqman</property>

		<property name="hibernate.search.autoregister_listeners">false</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>

		<!-- connection pool -->
		<property name="connection.pool_size">0</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>

		<mapping class="com.reqman.pojo.Users" />
			<mapping class="com.reqman.pojo.Project" />
	</session-factory>
</hibernate-configuration>
